{
	"extends": [
		"eslint:recommended",
		"plugin:node/recommended"
	],
	"ignorePatterns": [
		"node_modules"
	],
	"env": {
		"node": true,
		"es2020": true
	},
	"globals": {
		"project": "readonly"
	},
	"rules": {
		// as zupa handles dependencies, require can use package that is not in package.json
		"node/no-extraneous-require": 0
	},
	"parser": "@babel/eslint-parser",
	"parserOptions": {
		// Only ESLint 6.2.0 and later support ES2020.
		"ecmaVersion": 2020,
		"sourceType": "module",
		"requireConfigFile": false
	}

}